.App {
  text-align: center;
}
.container{
  background-color: #6e7985;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  border-radius: 10px;

  
}

.cards{
  margin: 20px;
  border-width: 10px;
  background-color: white;

}

.cards:hover{
  box-shadow: 0px 3px 15px 10px rgb(112, 205, 236);
}

.card-title{
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}
.list-group-flush{
  position: relative;
}

.descript{

  height: 130px;
}

.nav-b{
  display: flex;
  justify-content: space-around;

}
.mr-sm-2{
  display: flex;
  justify-content: space-between;
  

}

Button{
  margin: 20px;
}
.star{
  background-color: #6e7985;
  text-align: center;
  
}

.header{
  display: flex;
  background-color: #6e7985;
  justify-content: space-around;
}
*{
  background-color: #6e7985;
  color: white;
}

.movie-rate{
  background-color: #6e7985;
  text-align: center;
  padding-bottom: 25px;
  
}
.card-title{
  color: white;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.trail{
  display: grid;
  justify-content: center;
  text-align: center;
  /* background-color: burlywood; */
  padding: 20px;
}

.trail h1, p{
  margin:40px
}

.trail div{
  display: flex;
  justify-content: center;
  background-color: none;
}

.home{
  font-weight: 800;
  font-size: 30px;

  color: yellow;
}

/* 
 .hov2{
  display: none;
  position: absolute;
  top:-100;
 }

.card-img:hover .hov2{
  display: block;
  margin-top:100px;
} */
